@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'me-quran';
  src: url('../lib/font/me_quran.ttf') format('truetype');
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border: 1px solid #5eead4;
}

button:hover,
button:focus,
button:active {
  outline: none;
}

@layer components {
  .helper-link-cover::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/* ...... this is nprogress styling ....... */
#nprogress .bar {
  background: #f3f4f6 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 0.625rem #f3f4f6, 0 0 0.3125rem #f3f4f6 !important;
}

#nprogress .spinner-icon {
  border-top-color: #f3f4f6 !important;
  border-left-color: #f3f4f6 !important;
  margin-top: -0.5rem !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
}
/* ...... this is end of nprogress styling ....... */

/* ...... this is quran styling ....... */
.quran {
  font-family: 'me-quran';
  line-height: 1.6;
}

.blur {
  color: transparent;
  text-shadow: 0 0 8px #000;
}
/* ...... this is end of quran styling ....... */

/* ...... this is bottom sheet styling ....... */
:root {
  --rsbs-antigap-scale-y: 0;
  --rsbs-backdrop-bg: rgba(15, 23, 42, 0.4);
  --rsbs-backdrop-opacity: 1;
  --rsbs-bg: #fff;
  --rsbs-content-opacity: 1;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: 24rem;

  --rsbs-overlay-h: 0px;
  --rsbs-overlay-rounded: 16px;
  --rsbs-overlay-translate-y: 0px;

  /* small screen */
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);

  /* largecreen */
  --rsbs-ml: auto;
  --rsbs-mr: auto;
}

[data-rsbs-header='true'] {
  /* box-shadow: 0 1px 0 rgba(46, 59, 66, 0.1) !important; */
  font-weight: 700;
  color: #9ca3af;
  font-size: 1.2rem;
}

/* [data-rsbs-footer='false'] {
  box-shadow: 0 -2px 0 rgba(46, 59, 66, 0.1) !important;
} */

[data-rsbs-overlay='true'] {
  z-index: 9999 !important;
}
/* ...... this is end of bottom sheet styling ....... */
