@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'me-quran';
  src: url('../lib/font/me_quran.ttf') format('truetype');
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@layer components {
  .helper-link-cover::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
#nprogress .bar {
  background: #f3f4f6 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 0.625rem #f3f4f6, 0 0 0.3125rem #f3f4f6 !important;
}

#nprogress .spinner-icon {
  border-top-color: #f3f4f6 !important;
  border-left-color: #f3f4f6 !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.quran {
  font-family: 'me-quran';
  line-height: 1.6;
}

.blur {
  color: transparent;
  text-shadow: 0 0 8px #000;
}
